/node_modules
/vendor
/build
/dist
/packages/plugin-settings-page/node_modules/
/packages/signup-button-block/node_modules/
/packages/plugin-settings-page/build
/packages/signup-button-block/build
/lerna-debug.log
