/node_modules
/vendor
/build
/dist
/ui/packages/csa-signup-shortcode/node_modules
/ui/packages/csa-signup-shortcode/build
/ui/packages/plugin-settings-page/node_modules
/ui/packages/plugin-settings-page/build
/ui/packages/signup-button-block/node_modules
/ui/packages/signup-button-block/build
/lerna-debug.log
/.phpunit.result.cache
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/shelf